@layer tailwind-base, primereact, tailwind-utilities;


@layer tailwind-base {
    @tailwind base;
    body {
        @apply font-normal text-base text-black bg-whiten  relative z-1 font-inter;
    }


}


@layer tailwind-utilities {
    /* Chrome, Safari and Opera */
    @tailwind components;
    @tailwind utilities;
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .right-scrollbar::-webkit-scrollbar {
        position: fixed;
        right: 0;
    }


}


@layer primereact {
    .p-selectbutton > .p-button {
        @apply py-2;
    }

    .p-button {
        @apply text-white;
    }

    .bg-transparent.p-button > .p-button-label {
        @apply text-base font-normal underline ;
    }

    .p-datepicker-inline {
        @apply !w-max;
    }
    .bg-primary {
        @apply text-white
    }
    .p-password > .p-icon-field.p-icon-field-right{
        @apply w-full
    }
    .p-password > .p-password-input{
        @apply w-full
    }
}

/* third-party libraries CSS */

Input {
    @apply disabled:text-slate-400 dark:disabled:text-slate-400;
}

/*.Canny_BadgeContainer .Canny_Badge {*/
/*    @apply absolute -top-0.5 right-0 z-1 h-2 w-2 rounded-full bg-meta-1;*/
/*}*/